<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
        integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <main id="main">
        <div class="cardapio">
            <div class="cardapio-content">
                <div class="content-text">
                    <div class="container">
                        <div class="wrapper">
                            <h1 id="title title-text">Menu Principal</h1>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="wrapper">
                        <div class="catalog-menu">
                            <form action="">
                                <div class="cardapio-search">
                                    <div class="cardapio-search-wrap">
                                        <i class="fa-solid fa-magnifying-glass"></i>
                                        <div class="cardapio-search-input">
                                            <input type="text" class="search-input" placeholder="Procure seu prato favorito">
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <div class="catalog-menu-wrap">
                                <a href="">
                                    <div class="image-wrap">
                                        <picture></picture>
                                    </div>
                                    <p id="menu-name">Menu Principal</p>
                                </a>
                                <a href="">
                                    <div class="image-wrap">
                                        <picture></picture>
                                    </div>
                                    <p id="menu-name">Lunch Menu</p>
                                </a>
                                <a href="">
                                    <div class="image-wrap">
                                        <picture></picture>
                                    </div>
                                    <p id="menu-name">Billabong Menu</p>
                                </a>
                                <a href="">
                                    <div class="image-wrap">
                                        <picture></picture>
                                    </div>
                                    <p id="menu-name">Kids Menu</p>
                                </a>
                                <a href="">
                                    <div class="image-wrap">
                                        <picture></picture>
                                    </div>
                                    <p id="menu-name">Bebidas</p>
                                </a>
                                <a href="">
                                    <div class="image-wrap">
                                        <picture></picture>
                                    </div>
                                    <p id="menu-name">Sobremesas</p>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <section class="cardapio-items">
                <div class="cardapio-options">
                    <div class="container">
                        <div class="wrapper">
                            <div class="option-title">
                                <h2>O Rodízio Tá On</h2>
                            </div>
                            <div class="option-wrap">
                                <div class="option-item-wrap">
                                    <a href="" class="option-item">
                                        <div class="image-item">
                                            <picture>
                                                <img src="https://cdn.outback.com.br/wp-data/wp-content/uploads/2022/11/Rodizio-Chopp-675x750.png"
                                                    alt="">
                                            </picture>
                                        </div>
                                        <div class="option-name">
                                            <p>Chopp Brahma® e Aperitivos</p>
                                        </div>
                                    </a>
                                    <div class="option-price">
                                        <span>R$54,90</span>
                                    </div>
                                    <div class="option-item-btn">
                                        <button>Adicionar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </main>
</body>

</html>