.content-text{
    text-align: center;
    margin: 83px 0px 50px;
    padding: 137px 0px 50px;
    position: relative;
}

#title title-text{
    font-family: 'Trade Gothic LT Std', sans-serif;
    font-size: 50px;
    line-height: 60px;
}

.catalog-menu{
    justify-items: center;
}

.cardapio-search{
    display: flex;
    margin: 0px 273px 50px;
    max-width: 681px;

}

.cardapio-search-wrap{
    display: flex;
    padding: 12px 20px;
    background-color: #f8f2f2;
    border-radius: 5px;
    gap: 20px;
    color: rgb(167, 1, 1);
    font-size: 17px;
    width: 599px;
}

.search-input{
    background-color: transparent;
    border: none;
    font-size: 17px;
    width: 569px;
}

.search-input:focus{
    border:none;
    outline: none;
}

.catalog-menu-wrap{
    display: inline-flex;
    gap: 27px;
}

#img-catalog{
    width: 160px;
    height: auto;
    border-radius: 15px;
}

a{
    text-decoration: none;
    color: rgb(167, 1, 1);
}

#menu-name{
    text-align: center;
    font-size: 20px;
    line-height: 20px;
    font-weight: 700;
}
